.table-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.scrolling-container {
  flex: 1;
  overflow: auto;
  min-height: 0;

}

.logo {
  padding-right: 5px;
}

.spinner-container {
    width: 100%;
    position: fixed;
}

.games-table {
  margin-top: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  tr:hover {
    background: whitesmoke;
    cursor: pointer;
  }
}

mat-paginator {
  width: 100%;
  padding-bottom: 10px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

.mat-column-week {
  flex: 0 0 10%;
}

.week-cell {
  justify-content: center;
}

.mat-column-date {
  flex: 0 0 30%;
}

.date-cell {
  justify-content: center;
  font-style: italic;
}

.mat-column-awayTeamName, .mat-column-homeTeamName {
}

.away-team-name-cell, .home-team-name-cell {
  padding-left:20px;
  text-align: left;
}

.mat-column-ei {
  flex: 0 0 10%;
}

.ei-cell {
  width: 32px;
  justify-content: center;
}

mat-header-cell {
  justify-content: center;
}