h1.title {
  margin: 0 0 0px;
}

div.filter-row {
  display: flex;
  text-align: left;
}

div.week-selector {
}

div.week-selector button {
  position: relative;
  top: 7px;
  width: 22px;
  height: 22px;
  padding: 0;
}

div.filter-selector {
  flex: 1 1 75%;
}

.filter-field {
  width: 100%;
}

.mat-mdc-button-base {
  margin: 2px;
}

.table-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 5px 0;
}

.scrolling-container {
  flex: 1;
  overflow: auto;
  min-height: 0;
}

.logo {
  padding-right: 5px;
}

.spinner-container {
    width: 100%;
    position: fixed;
}

.games-table {
  margin-top: 0px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  tr:hover {
    background: whitesmoke;
    cursor: pointer;
  }
}

mat-paginator {
  width: 100%;
  padding-bottom: 5px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

.mat-column-week {
  flex: 0 0 10%;
}

.week-cell {
  justify-content: center;
}

.mat-column-date {
  flex: 0 0 30%;
}

.date-cell {
  justify-content: center;
}

.mat-column-awayTeamName, .mat-column-homeTeamName {
  min-width: 100px;
}

.away-team-name-cell, .home-team-name-cell {
  text-align: left;
}

.mat-column-ei {
  flex: 0 0 11%;
}

.ei-cell {
  justify-content: center;
  padding-right: 35px;
}

mat-header-cell {
  justify-content: center;
}